<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="donante">
      <ion-icon class="icon-tab" name="heart-sharp"></ion-icon>
      <ion-label class="lbl-tab"> COMO DONANTE</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="folder/Inbox">
      <ion-icon class="icon-tab" name="home-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="receptor">
      <ion-icon class="icon-tab" name="hand-right-sharp"></ion-icon>
      <ion-label class="lbl-tab">COMO RECEPTOR</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
