<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button routerLink="/formsd3">
            <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="title" >Paso 3 </ion-title>
  </ion-toolbar>  
</ion-header>
<br><br><br>
<ion-content>
  <div class="container">

    <h2 class="active"> FORMULARIO DE PREGUNTAS DE SELECCION </h2><br>

    <ion-item class="inputEmail">
      <h3 class="container">16. ¿Ha sido sometido a una intervención quirúrgica?</h3>
    </ion-item>
    <ion-item class="inputEmail">
      <ion-select [(ngModel)]="newf5.res16">
        <ion-select-option value="Si">Si</ion-select-option>  
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

      <ion-item>
        <h3>17. ¿Ha sido tratado con acupuntura realizada por una persona que no es médico?</h3>
      </ion-item>
      <ion-item class="inputEmail">
        <ion-select [(ngModel)]="newf5.res17">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <h3> 18. ¿Ha tomado Avidart o Duagen por un problema de próstata? </h3>
      </ion-item>
      <ion-item class="inputEmail"> 
        <ion-select [(ngModel)]="newf5.res18">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <h3> 19. ¿Se ha colocado un “piercing” en algún lugar del cuerpo, incluido la oreja? </h3>
      </ion-item>
      <ion-item class="inputEmail"> 
        <ion-select [(ngModel)]="newf5.res19">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <h3> 20. ¿Se ha hecho un tatuaje? </h3>
      </ion-item>
      <ion-item class="inputEmail"> 
        <ion-select [(ngModel)]="newf5.res20">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>
      <br><br>
<ion-button expand="full" (click)="SaveDatos(); ClickNextForm();">Siguiente</ion-button>
  </div>
   
</ion-content>
