<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button routerLink="/tab/receptor">
            <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="title" >Requisitos </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>

  <h2 class="t"><b>Requisitos para solicitar pintas de sangre</b></h2><br>

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/donation.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>1. Un donante del tipo de sangre que va a solicitar.</b></ion-label> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/indicacio.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <p><b>2. Tener a mano indicación médica y/o formulario de Solicitud de Sangre o sus componentes, 
        el cual debe contener identificación de paciente (nombre, edad, cédula, número historia clínica) 
        médico solicitante, institución que solicita, fecha de solicitud, tipo de componente y cantidad requerida.</b>
      </p>
    </ion-card-content>
  </ion-card>

  
    

  <ion-button class="btn" routerLink="/tab/receptor">Aceptar</ion-button>

</ion-content>
