<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ttoolbar"size="large">  Donante</ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content>
  <ion-label class="lblcont">Que deseas realizar?</ion-label>
  <ion-card>
    <ion-card-content>
      <ion-button routerLink="/requisitos" fill="clear" class="btncardreceptor">
        <ion-icon class="icon-card" name="information-outline"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-header class="tcard">
      VER REQUISITOS PARA DONAR
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button routerLink="/mostrarconv" fill="clear" class="btncardreceptor">
        <ion-icon class="icon-card" name="water-outline"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-header class="tcard">
      VER CONVOCATORIAS
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button routerLink="/formsd1" fill="clear" class="btncardreceptor">
        <ion-icon class="icon-card" name="accessibility-outline"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-header class="tcard">
      DONAR VOLUNTARIAMENTE
    </ion-card-header>
  </ion-card>
</ion-content>
