<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button routerLink="/tab/receptor">
            <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="title" >Consulta disponibilidad </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
 <div class="container">


  <h3 class="subti">Seleccione tipo de sangre que necesita y ciudad actual:</h3><br>
  <div class="gotadesangre">
    <ion-card class="card">
      <ion-card-content>
        <ion-button fill="clear" class="btncardreceptor">
          <ion-icon class="icon-card" name="water"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div><br><br>
  <ion-item class="inputEmail">
    <span item-right><ion-icon class="login__icon" name="water-outline"></ion-icon></span>
    <ion-select placeholder=" Tipo de sangre" [(ngModel)]="selected_option">
      <ion-select-option value=A+>A+</ion-select-option>  
      <ion-select-option value=A->A-</ion-select-option>
      <ion-select-option value=B+>B+</ion-select-option>
      <ion-select-option value=B->B-</ion-select-option>  
    </ion-select>
  </ion-item> <br>
 
  <ion-item class="inputEmail">
    <span item-right><ion-icon class="login__icon" name="location-outline"></ion-icon></span>
    <ion-select  placeholder=" Ubicación de la ciudad" [(ngModel)]="selected_city" >
        <ion-select-option value="Santo Domingo Este">Santo Domingo Este</ion-select-option>
        <ion-select-option value="Santo Domingo Oeste">Santo Domingo Oeste</ion-select-option>
        <ion-select-option value="Santiago">Santiago</ion-select-option>
        <ion-select-option value="San Francisco de Macoris">San Francisco de Macoris</ion-select-option>
        <ion-select-option value="Moca">Moca</ion-select-option>
        <ion-select-option value="Maria Trinidad Sanchez">Maria Trinidad Sánchez</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>{{selected_city}}</ion-item>

 
  <ion-button class="btnC" expand="block" (click)="GotoSangreConsultada();">Consultar</ion-button>
 </div>
 		
</ion-content>

