<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ttoolbar" size="large">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 

  <div class="tbienvenido">
    <h2>Bienvenido a Comunidad de Red de Donates RD</h2>
  </div>

  <div>
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <ion-card class="slides">
          <img src="assets/img/dona2.jpg"/>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card class="slides">
          <img src="assets/img/donation.jpg"/>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card class="slides">
          <img src="assets/img/bd.jpg"/>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card class="slides">
          <img src="assets/img/donation2.jpg"/>
        </ion-card>
      </ion-slide>
  
    </ion-slides>
  </div>

  <div>
    <ion-card>
   
    
      <ion-card-content>
        Comunidad Red de Donantes RD es una aplicacion que ayuda a la busqueda
        de pintas sangre y de donantes. Tambien, puedes donar voluntariamnete en ella.
       
      </ion-card-content>
    </ion-card>

  </div>




  <ion-toolbar>
    <ion-title class="t2toolbar"size="small">Que deseas hacer?</ion-title>
  </ion-toolbar>

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <ion-icon class="icon" name="water-outline"></ion-icon>
        <ion-label><b>¿Buscas sangre?</b></ion-label>
        <ion-button routerLink="/tab/receptor" fill="outline" slot="end">RECEPTOR</ion-button>
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      Puedes usar el modo receptor para consultar tipos de 
      pintas de sangre existentes en el Banco
      de Sangre Cruz Roja Dominicana y buscar donantes a traves de convocatorias. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item class="header-card">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
        <ion-label><b>¿Deseas donar?</b></ion-label>
        <ion-button routerLink="/tab/donante" fill="outline" slot="end">DONANTE</ion-button>
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      Puedes usar el modo donante para realizar donaciones voluntarias o ver convocatorias
      realizadas por los receptores para ayudar a donar.
    </ion-card-content>
  </ion-card>


</ion-content>



