<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button routerLink="/formsd3">
            <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="title" >Paso 3 </ion-title>
  </ion-toolbar>  
</ion-header>
<br><br><br>
<ion-content>
  <div class="container">

    <h2 class="active"> FORMULARIO DE PREGUNTAS DE SELECCION </h2><br>

    <ion-item class="inputEmail">
      <h3 class="container">12. ¿Ha recibido alguna vacuna?</h3>
    </ion-item>
    <ion-item class="inputEmail">
      <ion-select [(ngModel)]="newf4.res12">
        <ion-select-option value="Si">Si</ion-select-option>  
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

      <ion-item>
        <h3>13. ¿Ha estado en contacto con una persona que tuviese una enfermedad infecciosa contagiosa?</h3>
      </ion-item>
      <ion-item class="inputEmail">
        <ion-select [(ngModel)]="newf4.res13">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="tred">
        <h3>En los ultimos 6 meses:</h3>
      </ion-item>
      <ion-item>
        <h3>14. ¿Ha consultado a un médico? </h3>
      </ion-item>
      <ion-item class="inputEmail">
        <ion-select [(ngModel)]="newf4.res14">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>
  

      <ion-item>
        <h3> 15. ¿Ha sido sometido a una endoscopia: colonoscopia, gastroscopia, etc.? </h3>
      </ion-item>
      <ion-item class="inputEmail"> 
        <ion-select [(ngModel)]="newf4.res15">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>
      <br><br>
<ion-button expand="full" (click)="SaveDatos(); ClickNextForm();">Siguiente</ion-button>
  </div>
   
</ion-content>