<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button routerLink="/tab/donante">
            <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="title" >Requisitos</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>

  <h2 class="t"><b>Requisitos para donar sangre</b></h2><br>

  <!------ION CARD-------->

  <ion-card>
    
      <ion-card-header>
        <ion-item class="header-card">
          <img src="assets/img/salud.png">
          
          
        </ion-item>
       
      </ion-card-header>
    
      <ion-card-content>
        <ion-label><b>DISPONER DE UN BUEN ESTADO DE SALUD</b></ion-label> 
      </ion-card-content>
  </ion-card>

  <!------ION CARD-------->
  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/mayor.png">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>1. Tener entre 18 y 65 años.</b></ion-label> 
    </ion-card-content>
  </ion-card>
  
  <!------ION CARD-------->
  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/venas.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>2. Tener venas gruesas y visibles.</b></ion-label> 
    </ion-card-content>
  </ion-card>

  <!------ION CARD-------->

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/peso.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>3. Pesar más de 50kg(110Lbs)</b></ion-label> 
    </ion-card-content>
  </ion-card>

  <!------ION CARD-------->

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/dormir.jpg">
      </ion-item>
      <ion-item class="header-card">
        <img src="assets/img/ayuno.jpg">
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>4. Haber dormido más de 6 horas y ayuno solo de 8 horas.</b></ion-label> 
    </ion-card-content>
  </ion-card>

   <!------ION CARD-------->

   <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/identificacion.png">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>5. Identificación oficial (cédula, pasaporte o licencia de conducir). </b></ion-label> 
    </ion-card-content>
  </ion-card>

   <!------ION CARD-------->

   <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/sick.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>6.  No tener algún proceso infeccioso (gripal, diarrea o lesiones en la piel).</b></ion-label> 
    </ion-card-content>
  </ion-card>

   <!------ION CARD-------->

   <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/nograsas.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>7. Evitar consumir grasas y derivados de la leche 24 horas antes de donar.</b></ion-label> 
    </ion-card-content>
  </ion-card>

   <!------ION CARD-------->

   <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/antib.png">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>8. No haber tomado antibiótico en los últimos 7 días u otros medicamentos como la Aspirina en los últimos 5 días.</b></ion-label> 
    </ion-card-content>
  </ion-card>

   <!------ION CARD-------->

   <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/noembaraza.png">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>9.  No estar embarazada o lactando.</b></ion-label> 
    </ion-card-content>
  </ion-card>

   <!------ION CARD-------->

   <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/noalcohol.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>10. No haber ingerido bebidas alcohólicas en las últimas 48 horas.</b></ion-label> 
    </ion-card-content>
  </ion-card>

  <!------ION CARD-------->

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/novacuna.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>11. No haberte aplicado vacunas durante el último mes (Tétanos, Rubéola, Sarampión e influenza) o en el último año (Rabia y Hepatitis) B.</b></ion-label> 
    </ion-card-content>
  </ion-card>

  <!------ION CARD-------->

  <ion-card>
    
    <ion-card-header>
      <ion-item class="header-card">
        <img src="assets/img/tattoo.jpg">
        
        
      </ion-item>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-label><b>11. No haberte realizado tatuaje, acupuntura o perforaciones en el último año.</b></ion-label> 
    </ion-card-content>
  </ion-card>

  <!------ION CARD-------->

<ion-card>
    <ion-item>
      <ion-icon name="alert" slot="start"></ion-icon>
      <ion-label color="red"><b>¡Informaciones importantes!</b></ion-label>
    </ion-item>
  
  <ion-card-content>
        El dia de tu donación debes: <br>
        - Disponer del tiempo necesario para la donación. <br>
        - Presentarse aseado. <br>
        - Traer ropa cómoda que sea de manga corta, no ajustada y zapatos bajos. <br><br>
       <br>
  </ion-card-content>
</ion-card>

<!---->  
<ion-card>
  <ion-item>
    <ion-icon name="alert" slot="start"></ion-icon>
    <ion-label color="red"><b>¡Informaciones importantes!</b></ion-label>
  </ion-item>

  <ion-card-content>
    Tomar en cuenta que: <br>
    - Si estas menstruando dependerá de su prueba de laboratorio y valoración médica. <br>
    - Si eres diabético o hipertenso (presión alta) con tratamiento dependerá de la valoración médica. <br><br>
    Evita: <br>
    - Donar el mismo día del procedimiento de tu paciente.
  </ion-card-content>
</ion-card>


  <ion-button class="btn" routerLink="/tab/donante">Aceptar</ion-button>

</ion-content>