<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/consangre">
        <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Disponibilidad</ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content>
  <div class="content">
    <ion-label><b>Pintas disponibles </b></ion-label><br><br>
    <!--<ion-item *ngFor="let pintas of PintasSangreExistentes">  
      <ion-label>La cantidad disponible de sangre {{pintas.nomTipoSangre}} <br>es de 
        {{pintas.cantidadexistente}} pintas en la ciudad de <br> {{pintas.ubicacion}} </ion-label>
    </ion-item>-->
    
    <ion-card>
      <ion-item *ngFor="let pintas of PintasSangreExistentes" class="item">
        <ion-icon name="water-outline"></ion-icon>
        <ion-label><b>Tipo de sangre: {{pintas.nomTipoSangre}}</b></ion-label>
      </ion-item>
    
      <ion-card-content >
        <ion-item class="item" *ngFor="let pintas of PintasSangreExistentes">  
          <p>
            La cantidad disponible de sangre es de <br> 
            {{pintas.cantidadexistente}} pintas en la ciudad de {{pintas.ubicacion}}
          </p>
        </ion-item>
      </ion-card-content>
  
      <ion-item class="item">
  
        <ion-label></ion-label>
        <ion-button fill="outline" slot="end">SOLICITAR</ion-button>
      </ion-item>
    </ion-card>
  </div>


 
  
</ion-content>
