<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button routerLink="/formsd6">
            <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="title" >Paso 3 </ion-title>
  </ion-toolbar>  
</ion-header>
<br><br><br>
<ion-content>
  <div class="container">

    <h2 class="active"> FORMULARIO DE PREGUNTAS DE SELECCION </h2><br>

    <ion-item class="tred">
      <h3>En los años anteriores:</h3>
    </ion-item>
    <ion-item class="inputEmail">
      <h3 class="container">24. ¿Ha nacido, o residido, en algún país extranjero? </h3>
    </ion-item>
    <ion-item class="inputEmail">
      <ion-select [(ngModel)]="newf7.res24">
        <ion-select-option value="Si">Si</ion-select-option>  
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

      <ion-item>
        <h3>25. ¿Ha vivido más de un año -sumando todos los periodos de permanencia- en el Reino Unido
          (Inglaterra, Gales, Escocia; Irlanda del Norte, Islas del Canal, Isla de Man) durante el periodo de 1980 a 1996?</h3>
      </ion-item>
      <ion-item class="inputEmail">
        <ion-select [(ngModel)]="newf7.res25">
          <ion-select-option value=Si>Si</ion-select-option>  
          <ion-select-option value=No>No</ion-select-option>
        </ion-select>
      </ion-item>

<ion-button expand="full" (click)="SaveDatos(); ClickNextForm();">Siguiente</ion-button>
  </div>
   
</ion-content>