<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/tab/folder/Inbox">
        <ion-icon class="btnback" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Convocatorias</ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content>
  <div class="content">
    <ion-label><b>Convocatorias realizadas</b></ion-label><br><br>
    <ion-item *ngFor="let pintas of PintasSangreExistentes">  
      <ion-label>La cantidad disponible de sangre {{pintas.nomTipoSangre}} <br>es de 
        {{pintas.cantidadexistente}} pintas en la ciudad de <br> {{pintas.ubicacion}} </ion-label>
    </ion-item>

    <ion-card *ngFor="let c of Convocatorias"> 
      <ion-item class="item">
        <ion-icon class="blood" name="water"></ion-icon>
        <ion-label><b>Tipo de sangre solicitada: {{c.tiposangre}} </b></ion-label>
      </ion-item>
    
      <ion-card-content *ngFor="let cit of Citas">
        <b>Fecha de solicitud:</b> {{c.fechasolic.seconds * 1000 | date}} <br>
        <b>Cantidad de donantes requeridos: {{c.cd}}</b> <br>
        <b>Código de garantía: {{cit.id}}</b> 
        
      </ion-card-content>
  
      <ion-item class="item">
  
        <ion-icon class="location" name="location"></ion-icon>
        <ion-label><b>{{c.ubicacion}} </b></ion-label>
      </ion-item>

    </ion-card>
  </div>
